@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
 body{
    margin:0;
    padding:0;
    background-image: url("purpleCityHD.jpg" ); 
     background-color: #00eeff ;
     background-repeat: no-repeat, repeat;
     background-size: cover;
     background-attachment: fixed;
      }
      /*background-image: url("purpleCityHD.jpg" ); 
      */
a{
    color: rgb(76, 0, 255);
    text-decoration: none;
    -webkit-text-stroke: 0.5mm rgb(0, 119, 255);

}

a:hover{
    color: rgb(0, 255, 255);
    text-decoration: none;
    -webkit-text-stroke: 0.1mm rgb(212, 0, 255);
}
a:active{
    color: rgb(74, 0, 248);
    text-decoration: none;
    -webkit-text-stroke: 0.1mm rgb(51, 255, 0);
}

.myLink:hover{
    animation: myMove 2s;
    animation-iteration-count: infinite;
    
}
#title{
    font-family: 'Mr Dafoe';
    color: rgb(255, 255, 255);
    margin-bottom: 10mm;
    font-size: 20mm;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    animation: titleMove 3s;
    animation-iteration-count: infinite;
    
   
  
}
@keyframes titleMove{
    0% {transform :rotate(-5deg) scale(1);}
    50%{transform:rotate(5deg) scale(1.2)}
    100%{transform:rotate(-5deg) scale(1) }
}
@keyframes myMove{
    0% {transform: scale(1);}
    50%{transform: scale(0.75);}
    100%{transform: scale(1);}
}

div{
    margin-top: 10mm;
}




