@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
 body{
    margin:0;
    padding:0;
    background-image: url("nature.jpg" ); 
     background-color: #00eeff ;
     background-repeat: no-repeat, repeat;
     background-size: cover;
     background-attachment: fixed;
      }
      /*background-image: url("purpleCityHD.jpg" ); 
      */
a{
    color: rgb(98, 197, 40);
    text-decoration: none;
    -webkit-text-stroke: 0.5mm rgb(255, 255, 255);

}

a:hover{
    color: rgb(39, 212, 146);
    text-decoration: none;
    -webkit-text-stroke: 0.1mm rgb(39, 212, 146);
}
a:active{
    color: rgb(36, 252, 241);
    text-decoration: none;
    -webkit-text-stroke: 0.1mm rgb(51, 255, 0);
}

.myLink:hover{
    animation: myMove 2s;
    animation-iteration-count: infinite;
    
}
#title{
    font-family: 'Mr Dafoe';
    color: rgb(255, 255, 255);
    margin-bottom: 10mm;
    font-size: 20mm;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #facf0f, 0 0 0.3em #0eff06;
    animation: titleMove 3s;
    animation-iteration-count: infinite;
     
}
#profilePic{
    opacity: 1;
}
@keyframes titleMove{
    0% {transform :rotate(-5deg) scale(1);}
    50%{transform:rotate(5deg) scale(1.2)}
    100%{transform:rotate(-5deg) scale(1) }
}
@keyframes myMove{
    0% {transform: scale(1);}
    50%{transform: scale(0.75);}
    100%{transform: scale(1);}
}

div{
    margin-top: 10mm;
}



